<div class="card border rounded-5 text-start flex-fill h-100">
  <div class="card-body">
    <h3 class="card-title text-center mb-2">{{ Title }}</h3>
    <p class="card-text">
      {{ Description }}
    </p>
    <div class="d-flex justify-content-center gap-3">
      <button class="btn btn-outline-dark" (click)="Github()">
        {{ buttonLabels.github }}
      </button>
      <button class="btn btn-dark" (click)="LiveDemo()">
        {{ buttonLabels.liveDemo }}
      </button>
    </div>
  </div>
</div>
